<body class="team-show-body">
  <div class="team-and-players-container">
  <div class='team-avatar-position'>
  <%= image_tag "#{@team.name} #{@team.nickname}.png", class: "team-avatar-large", alt:"team-image" %>
  </div>
  <div class='players-container'>
    <div class="row">
    <% @team.people.each do |person| %>
    <div class="card col-md-4 col-sm-12">
    <div class="team-player-list">
      <img src="https://nba-players.herokuapp.com/players/curry/stephen" class="player-img">
      <%= person.first_name %> <%= person.last_name %>
    </div>
    </div>
    <% end %>
  </div>
  </div>
  </div>
</body>

