.team-choice-header {
    // background-color: white;
}

.followable-card-img {
  max-width: 150px;
  max-height: 150px;

}
.logo-img-top {
  margin-bottom: 46px;
}

.active-team-choice {
  &:after {
    content: '';
    width: 23px;
    height: 25px;
    position: absolute;
    background-image: url(https://res.cloudinary.com/dg6wajgky/image/upload/v1575541123/basketballlogoblank_js4fxo.png);
    top: -9px;
    right: 52px;
    background-size: contain;
  }
}

@font-face {
  font-family: "Old Sport Athletic", sans-serif;
  src: url('../fonts/osa_font.ttf') format("truetype");
}
.header {
  font-family: "Old Sport Athletic" !important;

}


