.followable-index-container {

}

.followable-index-card {

}
.followable-card-title {

}
.followable-card-img {
  max-width: 150px;
  max-height: 150px;

}

.active-team-choice {
  box-shadow: 0px 0px 14px gray;
}

.follow-label {
  height: 230px;
  padding: 15px;
}

@font-face {
  font-family: "Old Sport Athletic", sans-serif;
  src: url('../fonts/osa_font.ttf') format("truetype");
}
.header {
  font-family: "Old Sport Athletic" !important;

}

