.new-post {
  width: 50vw;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  margin-top: 10px;
}

.new-post-container {
  display: flex;
  justify-content: space-evenly;

}

#btn-post, input#post_title, input#post_image_url, textarea#post_content {
  background-color: #f3f5f773;
}

.new-post-btn {
  display: block;
  color: #91bd3a;
  border: 1px solid #91bd3a;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
}
.new-post-btn:hover {
  opacity: 1;
  background-color: #91bd3a;
  color: white;
  transition: opacity 0.3s ease;

}
.fa-plus-circle {
  color: #91bd3a;
  font-size: 20px;
  transition: opacity 0.3s ease;
}
