.comment-container {
  margin: 20px;
  border-bottom: 1px solid grey;
  padding: 10px;
}

li.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link.active {
  background-color: white !important;
  color: #fa4252 !important;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none !important;
}
