.button-wrapper {

  text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background: white;
    z-index: 3;
    transition: all 1s ease;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

}

.teams-submit {
  background-color: #6DC1FE;
  color: white;
  border: none;
  padding: 4px 18px;
  margin-bottom: 10px;
  border-radius: 50px;
  opacity: 0.8;
}
.teams-submit:hover {
  opacity: 1;
  background-color: #ffa259;
  color: white;
  transition: opacity 0.3s ease;

}
