<% if user_signed_in? %>
<div class="row">
  <div class="col-8 vc-wrapper">
    <div class="row video-container">
      <% @youtube_vids.each do |youtube_vid| %>
      <% youtube_vid.each do |vid| %>
      <div class="col-4">
        <div class="video-card" id="card">
          <div class="youtube-player" data-id="<%= vid[:id] %>"></div>
          <a class="author">
            <span class="title"><%= vid[:title] %></span>
          </a>
          <div class="share-icon">
            <p class="align-text-bottom"><i class="fas fa-share-alt"></i><%= link_to "Share!", new_post_path(title: vid[:title],
            content: "https://www.youtube.com/watch?v=#{vid[:id]}") %>
          </p>
        </div>
      </div>
      <% p vid %>
    </div>
    <% end %>
    <%end %>
  </div>
  </div>
</div>
<% end %>
