.new-post-btn {
  display: block;
  color: #91bd3a;
  border: 1px solid #91bd3a;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
}
.new-post-btn:hover {
  opacity: 1;
  background-color: #91bd3a;
  color: white;
  transition: opacity 0.3s ease;

}

