.card img {
}
.card {
  border: none;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.index-container {
  padding-top: 30px;
}
.index-card .home-card .dashboard-card{
  height: 420px;
  border-radius: 10px;
}

.nba-logo img {
  max-height: 300px;
}
.team-index-card {
  padding: 10px;
  height: 600px;
}
