
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.a.navbar-brand{
    width: 80px;
  }

.logo-text{
  font-family: $logo-font;
  margin-left: 10px;
  font-size: 30px;
  margin-bottom: 0px;
}
.logo-text h1{
  font-size: 24px;
  font-weight:600;
  line-height: 20px;
}
.active-nav-item {
// A way to show active tab should be here
}

.btn-nav {
  display: block;
  color: #ffa259;
  border: none;
  padding: 4px 18px;
  border-radius: 50px;
  opacity: 0.8;
}
.btn-nav:hover {
  opacity: 1;
  background-color: #ffa259;
  color: white;
  transition: opacity 0.3s ease;

}
