
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.a.navbar-brand{
    width: 80px;
  }

.logo-text{
  font-family: $logo-font;
  margin-left: 10px;
  font-size: 48px;
  margin-bottom: 0px;
}

.active-nav-item {
  border-bottom: 4px solid orange;
}
