.score-card-table {
  margin: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

}

