.posts-card {
 margin: 8px;
 box-shadow: 1px 1px 1px lightgrey;
 border-radius: 4px;
}
.post-card-body {

}
.posts-container {
 text-decoration: none;
}
.post-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.card-preview-text h5 {
  font-weight: bold;
}
.card-preview-text p {
  font-weight: 200;
}

.card-body-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post_image_preview {
  border-radius: 8px;
  margin-right: 28px;
}

